/*INDEX IMAGE*/
body {
    
    background-image: url(../imgs/bg.jpg);
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

li {
    display: inline-block;
    
}
li:hover {
    border-bottom: 10px solid gray;
    margin-bottom: -6px;
    
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
    border-bottom: 5px solid gray;

}
a:hover {
    text-decoration: none;
    color: black;
    
}

.title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.sub-title {
    font-size: 40px;
    color: white;
    text-align: center;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 20px 12px 20px;
  border: solid #ffffff 3px;
  text-decoration: none;
}

.btn:hover {
  color: white;
  border: solid aliceblue 3px;
  text-decoration: none;
}

