/*INDEX IMAGE*/
body {

    background-image: url(../imgs/bg.jpg);

}
header {
    position: relative;
    height: 60px;
    padding: 0;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.logo {
    height: 30px;
    margin: 15px 30px;
}
nav {
    position: relative;
    width: 100%;
}
a:hover {
    text-decoration: none;
}
nav ul {
    text-align: center;
    padding: 0;
}
nav li {
    display: inline-block;
    width: 100px;
    height: 45px;
    margin: 0px 10px;
    text-transform: uppercase;
    text-align: center;
}
nav .nav-item {
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color 200ms linear;
    -moz-transition: border-color 200ms linear;
    transition: border-color 200ms linear;
}

nav li:active, li:focus, li:hover {
    border-color: #000;
}
nav li a {
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    transition: color 200ms linear;
    cursor: pointer;
}
nav li a:active, a:focus, a:hover {
    color: #999999;
    text-decoration: none;
}

.title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.sub-title {
    font-size: 40px;
    color: white;
    text-align: center;
}
.btn {
    background: none !important;
    display: inline-block !important;
    margin-right: 15px !important;
    -webkit-transition: all .3s ease !important;
    -moz-transition: all .3s ease !important;
    transition: all .3s ease !important;
    line-height: 1.5 !important;
    -webkit-border-radius: 5 !important;
    -moz-border-radius: 5 !important;
    border-radius: 5px !important;
    border: 3px solid !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    padding: 10px !important;
    min-width: 140px !important;
}
.btn:active, .btn:focus, .btn:hover {
    background: #ffffff !important;
    border-color: #ffffff !important;
    color: #333333 !important;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.leftfooter {
    float: left;
}

.ded {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	margin-left: 50px;
  	margin-right: 0px;
}

.ded2 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	margin-left: 50px;
  	margin-right: 0px;
}

.ded3 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	margin-left: 50px;
  	margin-right: 0px;
}

.ded4 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  	margin-left: 50px;
  	margin-right: 0px;
}
.copyright {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 14px;
    text-decoration: none;
  	margin-left: 625px;
  	margin-right: 0px;
}

.white {
    color: white;

}
.team {
    background-color: white;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 15%;
    height: 100%;
}
.team img {
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
    
}
.team img:hover {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.heads {
    border-radius: 70px;
    margin-left: 0px;
    margin-right: 40px;
    margin-bottom: 20px;
    height: 130px;
    width: 130px;
   
}
.modal-text-info {
    padding-left: 30px;
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
    width: auto;
}
.modal-text-social {
    padding-left: 30px;
    margin-top: 0;
    vertical-align: top;
    display: inline-block;
    width: auto;
}
.modal-about {
    padding: 20px;
    width: auto;
}
.administrators {
    display: inline-block;
    margin-left: 0px;
    width: 600px;
    border-right: 1px solid dimgray;
    padding: 20px;
    text-align: left;
}
.moderators {
    display: inline-block;
    margin-right: 0px;
    width: 600px;
    border-left: 1px solid dimgray;
    padding: 20px;
    text-align: right;
    vertical-align: top;
    
}
.rule {
font-family: "Raleway";
color: #fff;
}

